:root {
    --primary-color: rgb(24, 23, 38);
    --background-color: rgb(149, 156, 159);
    --accent-color: rgb(192, 189, 228);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

iframe {
    position: fixed;
    z-index: -9999;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--background-color);
}

.section-title {
    text-align: center;
    padding: 10px 20px;
    font-size: 28px;
    color: var(--accent-color); padding: 5px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

/* header */
header {
    justify-content: space-between;
    padding: 20px;
    background: var(--accent-color);
    opacity: 0.97;
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 38px;
    align-self: center;
    color: var(--primary-color);
}

header nav {
    padding: 15px;
}

header nav ul {
    justify-content: space-around;
}

header nav ul li a {
    padding: 10px;
    font-size: 1.5rem;
}

/* hero */
.hero {
    background: var(--primary-color);
    width: 100%;
    height: auto;
}

.hero-wrapper img {
    width: 100%;
    height: auto;
}

/* About */
.about {
    background: var(--background-color);
}
.about p {
    padding: 5px;
    text-align: center;
}

/* projects */
.projects {
    color: var(--primary-color);
}
.projects h2 {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    width: 40%;
    margin: 0 auto 0 auto;
}
.projects-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
.projects-grid {
    width: 100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

.projects-grid-item {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projects-grid-item a {
    color: var(--primary-color);
    font-size: 28px;
}

.run-buddy {
    grid-column: 1 / span 2;
    background-image: url(../../assets/images/run-buddy-img.png);
    background-size: cover;
    background-position: 0 0;
    background-origin: border-box;
}

.project2 {
    background-image: url(../../assets/images/NovidTitleImage.png);
    background-size: cover;
}

.project3 {
    background-image: url(../../assets/images/love-monster.png);
    background-size: cover;
}

.project4 {
    background-image: url(../../assets/images/budgetTracker.png);
    background-size: cover;
}

.project5 {
    background-image: url(../../assets/images/pizzaHunt.png);
    background-size: cover;
}

.project6 {
    background-image: url(../../assets/images/noteTaker.png);
    background-size: cover;
}

.project7 {
    background-image: url(../../assets/images/fretWerx.png);
    background-size: cover;
}

/* contact */
.contact {
    background-color: var(--primary-color);
    padding: 10px 0 35px 0;
}
.contact .flex-row {
    justify-content: space-around;
}

.contact-info {
    color: var(--background-color);
}

@media screen and (min-width: 800px) {
    header {
        flex-direction: row;
    }

    .hero {
        background: var(--background-color);
    }
    .hero-wrapper img {
        width: 100%;
        height: 100;
    }
    .hero-wrapper {
        max-width: 50%;
        background: var(--background-color);
    }

    .tablet-view {
        display: flex;
        align-items: center;
        background: var(--background-color);
    }

    .projects-grid-item a {
        opacity: 0;
        transition: opacity 0.5s;
    }

    .projects-grid-item:hover a {
        font-size: 35px;
        opacity: 0.8
    }


}